In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import torch

from tdnn import TDNN

In [19]:
narma_df = pd.read_csv('../NARMA10.csv', header=None)
narma_df.head()

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,0.083964,0.48934,0.35635,0.25024,0.23554,0.029809,0.34099,0.021216,0.035723,0.26082,...,0.08209,0.19951,0.26618,0.43761,0.32952,0.39381,0.063013,0.26249,0.44974,0.054542
1,0.000000,0.00000,0.00000,0.00000,0.00000,0.000000,0.00000,0.000000,0.000000,0.00000,...,0.26495,0.21299,0.26849,0.19633,0.32609,0.31816,0.448240,0.26351,0.20217,0.365350

In [28]:
x_data = torch.tensor(narma_df.iloc[0].values, dtype=torch.float32) # float 32 for better memory efficiency
y_data = torch.tensor(narma_df.iloc[1].values, dtype=torch.float32)

# 4000 tr, 1000 val, 5000 test
train_x, test_x = x_data[:5000], x_data[5000:]
train_y, test_y = y_data[:5000], y_data[5000:]

train_x, val_x = train_x[:4000], train_x[4000:]
train_y, val_y = train_y[:4000], train_y[4000:]